<div class="container-profile">

      <h1 style="text-align: center;">Update your profile</h1>

      <%= simple_form_for(@user, url: profiles_path) do |f| %>
        <%= f.input :photo, as: :file %>
        <h2><%= f.input :first_name, autofocus: true, input_html: {id: "edit-form-box"}%></h2>
        <h2><%= f.input :last_name , input_html: {id: "edit-form-box"}%></h2>
        <h2><%= f.input :email , input_html: {id: "edit-form-box"}%></h2>
        <%#= f.email_field_with_label :email, autofocus: true, autocomplete: "email" %>
        <h2><%= f.input :phone_number , input_html: {id: "edit-form-box"}%></h2>
        <h2><%= f.input :city_address, input_html: {id: "edit_address"}%></h2>
        <%#= f.input :country_select %>
        <h2><%= f.input :background , input_html: {id: "edit-form-box"}%></h2>
        <h2><%= f.input :field_of_studies, input_html: {id: "edit-form-box"}, priority: [ "Engineering" ], collection: [ "Aeronautics and Aviation Science",
            "Aeronautics and Aviation Science",
            "Anthropology",
            "Art",
            "Business Administration",
            "Chemistry",
            "Economics",
            "Education",
            "Engineering",
            "Environmental Science and Health",
            "Journalism",
            "Music",
            "Nursing",
            "Oceanography",
            "Pharmacy",
            "Photography",
            "Physical Therapy",
            "Political Science and International Relations",
            "Psychology",
            "Public Relations and Administration",
            "Statistics",
            "Urban Planning" ]%></h2>

          <h2><%= f.input :diploma, input_html: {id: "edit-form-box"}, priority: [ "Graduate" ], collection: [ "Associate’s degree",
              "Bachelor’s degree",
              "Graduate",
              "Master’s degree",
              "Doctoral degree",
              "Professional degree"
              ]%></h2>
        <div class="form-row">
          <div class="col">
            <h2><%= f.input :start_date, as: :date, html5: true, input_html: {id: "edit-form-box"} %></h2>
          </div>
          <div class="col">
            <h2><%= f.input :end_date, as: :date, html5: true, input_html: {id: "edit-form-box"} %></h2>
          </div>
        </div>
        <h2><%= f.input :description, input_html: {id: "edit-form-box"} %></h2>
        <h2><%= f.input :values, input_html: {id: "edit-form-box"} %></h2>
        <%= f.submit class: "button-update" %>
      </div>
      <div class="container-profile">
        <% i = 0 %>
        <h2 style="text-align: center;">Priorities</h2>
        <p>Below you can define <strong>3 job search priorities</strong>. It will
        then filter the contacts list with the right industry, job title and location.</p>
        <%# @user.priorities.each do |priority| %>
        <% user_priorities = current_user.priorities.to_a %>
        <% 3.times do |p_index| %>
          <% priority = user_priorities.slice(p_index) %>
          <%= f.simple_fields_for :priorities do |c| %>

            <% i += 1 %>
            <div class="priority_<%= i %>">
                <h5><%= i %></h5>
                <%= c.input :job_search, input_html: {id: "edit-form-box", name: "user[priority][prio_#{i}][job_search]", value: priority ? priority.job_search : "" } %>
                <%= c.input :industry, input_html: {id: "edit-form-box", name: "user[priority][prio_#{i}][industry]", value: priority ? priority.industry : "" } %>
                <%= c.input :location, input_html: {id: "edit-form-box", name: "user[priority][prio_#{i}][location]", value: priority ? priority.location : "" } %>
                <%= hidden_field("user[priority][prio_#{i}]", "id", value: priority ? priority.id : "nil" ) %>
            </div>
          <% end %>
        <% end %>
        <%= f.submit  class: "btn btn-primary" %>
      <% end %>

  </div>


