<h1>Your profile</h1>

<h2>Full name</h2>
<%= @user.first_name %> <%= @user.last_name %>
<%= @user.email %>
<%= @user.phone_number %>
<%= @user.city_address %> <%= @user.appartement_address %>
<%=  %>



