<div class="container-profile">
<h1 style="text-align: center;" >YOUR PROFILE</h1>

<h1>Your Buddies</h1>
<p><%= @user.connections.count%></p>

<h1> Opportunities</h1>
<p><%= %></p>

<h1>Full name:</h1>
<h2> <%= @user.first_name %> <%= @user.last_name %></h2>
<h1>Email:</h1>
<h2><%= @user.email %></h2>
<h1>Phone:</h1>
<h2><%= @user.phone_number %></h2>
<h1>Address:</h1>
<h2><%= @user.city_address %> <%= @user.appartement_address %></h2>
<h1>Background:</h1>
<h2><%= @user.background %></h2>
<h1>About me:</h1>
<h2><%= @user.description %></h2>
</div>

<%= link_to " EDIT PROFILE ", edit_profiles_path %>



