<div class="connection">
  <h1>  All Your Buddies </h1>
  <% @connections.each do |connection| %>
    <% connection.user.priorities.each do |priority| %>
      <% connection.contact.company.jobs.each do |job| %>
        <% if connection.match_priorities_jobs?(priority.job_search, job.title) %>
          <div class="priority_<%= priority.position %>">
            <h1>name: <%= connection.contact.first_name%> <%= connection.contact.last_name%></h1>
            <h3>job title: <%= connection.contact.job_title%></h3>
            <h3>company name: <%= connection.contact.company.name%></h3>
            <% if connection.contact.is_a_user? %>
              <%= link_to "Send a message", profile_messages_path(connection) %>
            <% else %>
              <%= link_to "Send a mail", profile_messages_path(connection) %>
            <% end %>
              <ul>
                <%= job.title %>
              </ul>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>


