
<h1>  All Your Buddies </h1>
<div class="connections">
  <% seen_jobs = [] %>
  <% @connections.each_with_index do |connection, index| %>
    <% connection.company.jobs.each do |job| %>
      <% next if seen_jobs.include?(job.id) %>
        <% contact = @connections[index] %>
        <% unless seen_jobs.include?(job.id) || current_user.match_priority_to_job(job.title) == false %>
          <h1><%= contact&.first_name%> <%= contact&.last_name%></h1>
          <h3><%= contact&.company&.name%></h3>
          <h3><%= contact&.first_name %>'s job : <%= contact&.job_title%></h3>
          <% connection = Connection.find_by(contact: contact) %>
          <h3><%= connection&.duration_work %></h3>
          <div class="priority_<%= current_user.match_priority_to_job(job.title) %> ">
            <% if connection.contact.is_a_user?%>
              <%= link_to " a message", user_conversations_path(connection.contact.user_id), method: :post %>
            <% else %>
              <%= link_to "Send a mail", conversations_path(connection) %>
            <% end %>
              <ul>
                <%= job.title %>
              </ul>
          </div>
        <% end %>
      <% seen_jobs.push(job.id) %>
>>>>>>> master
    <% end %>
  <% end %>
</div>

