<h1>Chatting with <%= @chat_with_contact.first_name %></h1>

<div id="conversation-main">
  <div id="conversation-body">
    <%  @messages.each do |message| %>
      <p><%= message.content %></p>
    <% end %>
  </div>

  <%= simple_form_for([@conversation, @message] ) do |f| %>
    <%#= hidden_field_tag 'conversation_id', @conversation.id %>
    <%= f.input :content %>
    <%= f.submit %>
  <% end %>
</div>
