<div class="container">
  <div class="contact">
    <h1>  All Your Contacts </h1>
    <% @contacts.each do |contact| %></br></br>
      <h1>Fullname : <%= contact.first_name%>  <%= contact.last_name%></h1>
      <h5>Job title: <%= contact.job_title%></h5>
      <h5>Company name: <%= contact.company.name%></h5>
      <h5>Email: <%= contact.contact_email%></h5>
      <h5> start: <%= contact.start_date%></h5>
      <h5>end: <%= contact.end_date%></h5></br></br>
    <% end %>
  </div>
</div>
