<!DOCTYPE html>
<html>
  <head>
    <title>Buddy - Connect to your network now. </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('fav.png') %>
  </head>

  <body>
    <% if current_page?(root_path) %>
    <div class="container-body-home">
     <%= yield %>
    </div>
    <% else %>
    <%= render 'shared/buddy_navbar' %>
    <%= render 'shared/flashes' %>
     <div class="container-body">
     <%= yield %>
     <%= yield :charts_js %>
     </div>
    <%= render 'shared/buddy_footer' %>
    <% end  %>
  </body>
</html>

